<style>
.side-nav li div {
    text-align: right;
    margin-bottom: 0;
    margin-right: 10px;
    margin-top: -28px;
}
</style>
      <div class="section-header text-center prostate">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="rte">
        <div class="side-nav">
          <ul>
            <a href="/pages/events"><li class="btn-link">Upcoming Events<div>▶</div> </li></a>
            <a href="/pages/support"><li class="btn-link">Support Groups<div>▶</div> </li></a>
            <a href="/pages/news"><li class="btn-link">News<div>▶</div> </li></a>
          </ul>
          <div class="appoint-side-nav">
            <a href="/pages/schedule"><div class="btn-link white">Make an Appointment</div></a>
            <p>Schedule an in-person consultation with a prostate cancer specialist.</p>
            <h3>Questions? Call us!</br>
            (630) 654-2515</h3>
         
          </div>
        </div>
        <div class="main-text">
        {{ page.content }}
        </div>
      </div>

