	<style>
	.side-nav li div {
    text-align: right;
    margin-bottom: 0;
    margin-right: 10px;
    margin-top: -17pt;
	}
	</style>
      

<div class="section-header text-center patients flex-container-no">
  <h1 class="fw">{{ page.title }}</h1>
</div>
<div class="page-content">
  <div class="side-nav do">
    <ul>
      <a href="/pages/about-us"><li class="btn-link">About Us<div>▶</div></li></a>
      <a href="/pages/philosophy"><li class="btn-link">Core Values<div>▶</div> </li></a>
      <a href="/pages/location"><li class="btn-link">Location<div>▶</div> </li></a>
    </ul>
    <div class="appoint-side-nav">
      <a href="/pages/schedule"><div class="btn-link white">Make an Appointment</div></a>
      <p>Schedule an in-person consultation with a prostate cancer specialist.</p>
      <h5>Questions? Call us!</br>
      (630) 654-2515</h5>
    </div>
  </div>
  <div class="main-text">
    {{ page.content }}
  </div>
  <div class="side-nav mo">
    <ul>
      <a href="/pages/about-us"><li class="btn-link">About Us<div>▶</div></li></a>
      <a href="/pages/philosophy"><li class="btn-link">Core Values<div>▶</div> </li></a>
      <a href="/pages/location"><li class="btn-link">Location<div>▶</div> </li></a>
    </ul>
    <div class="appoint-side-nav">
      <a href="/pages/schedule"><div class="btn-link white">Make an Appointment</div></a>
      <p>Schedule an in-person consultation with a prostate cancer specialist.</p>
      <h3>Questions? Call us!</br>
      (630) 654-2515</h3>
    </div>
  </div>
</div>

