
      <div class="section-header text-center patients">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="rte">
        <div class="side-nav">
          <ul>
            <a href="/pages/initial-visit"><li class="btn-link">Initial<br>Visit<div>▶</div> </li></a>
            <a href="/pages/patient-forms"><li class="btn-link">Patient<br> Forms<div>▶</div> </li></a>
            <a href="/pages/out-of-town-patients"><li class="btn-link">Out of Town<br> & Patients<div>▶</div></li></a>
            <a href="/pages/volume-study"><li class="btn-link">Volume<br>Study<div>▶</div> </li></a>
            <a href="/pages/seed-implant"><li class="btn-link">Seed<br>Implant<div>▶</div> </li></a>
            <a href="/pages/follow-up"><li class="btn-link">Follow<br>Up<div>▶</div> </li></a>
            <a href="/pages/resources"><li class="btn-link">More<br>Resources<div>▶</div> </li></a>
            <a href="/pages/testimonials"><li class="btn-link">Patient<br>Testimonials<div>▶</div> </li></a>
            <a href="/pages/video-testimonials"><li class="btn-link">Video<br>Testimonials<div>▶</div> </li></a>
            
          </ul>
          <div class="appoint-side-nav">
            <a href="/pages/schedule"><div class="btn-link white">Make an Appointment</div></a>
            <p>Schedule an in-person consultation with a prostate cancer specialist.</p>
            <h3>Questions? Call us!</br>
            (630) 654-2515</h3>
         
          </div>
        </div>
        <div class="main-text">
        {{ page.content }}
        </div>
      </div>

